@import "../../../styles/variables";
@import "../../../styles/mixins";

.container {
  display: flex;

  @include breakpoint(medium) {
    flex-direction: column;
  }

  .formWrapper {
    display: flex;
    justify-content: center;
    width: 65%;

    @include breakpoint(medium) {
      width: auto;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 16px;

      @include breakpoint(medium) {
        width: 100%;
      }

      .row {
        display: flex;
        gap: 6px;
        align-items: center;

        &:first-child {
          margin-bottom: 16px;
        }

        .slider {
          position: relative;
          width: 400px;

          @include breakpoint(medium) {
            width: 100%;
          }

          .sliderValue {
            position: absolute;
            color: $orange;
            top: -40px;
            font-size: 15px;
          }

          .minPrice,
          .maxPrice {
            position: absolute;
            top: 10px;
            font-size: 12px;
            color: $dark-grey;
          }

          .minPrice {
            left: 0;
          }

          .maxPrice {
            right: 0;
          }
        }
      }
    }
  }

  .resultWrapper {
    border-left: 1px solid $grey;
    padding: 16px 0 0 16px;
    width: 35%;

    @include breakpoint(medium) {
      border: none;
      width: auto;
    }

    .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $grey;
      margin-bottom: 24px;
      align-items: center;

      .result {
        color: $orange;
        font-size: 22px;
        margin-right: 4px;
      }
    }

    .buttonWrapper {
      text-align: end;
    }
  }
}

.label {
  font-size: 13px;
  color: $dark-grey;
  margin: 0;
  margin-bottom: 8px;
}
