@import "../../../styles/variables";
@import "../../../styles/mixins";

.welcomeWrapper {
  background-color: $mint;
  padding: 16px 16px 32px 16px;
  display: flex;
  gap: 16px;

  @include breakpoint(medium) {
    flex-direction: column;
    align-items: center;
    padding: 12px;
  }

  .bubble {
    height: 120px;
    min-width: 120px;
    border-radius: 50%;
    background-color: $yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @include breakpoint(medium) {
      width: 120px;
      margin-bottom: 16px;
    }

    &__text {
      color: $white;
      font-size: 15px;
      font-weight: bold;
    }

    &__triangle {
      position: absolute;
      bottom: -17px;
      left: calc(50% - 17px);
      border-left: 17px solid transparent;
      border-right: 17px solid transparent;
      border-top: 20px solid $yellow;
    }
  }

  .textBox {
    width: 100%;

    &__title {
      margin: 0;
      margin-bottom: 10px;
    }

    &__text {
      font-size: 12px;
      word-wrap: break-word;
      margin: 0;
      margin-bottom: 32px;
      color: $dark-grey;

      @include breakpoint(medium) {
        margin-bottom: 12px;
      }
    }

    .readMore {
      font-size: 12px;
      color: $dark-aqua;
      text-decoration: none;
      margin: 0;
      cursor: pointer;

      &__triangle {
        font-size: 16px;
      }
    }

    .bottomBlock {
      display: flex;
      width: 100%;
      justify-content: space-between;
      @include breakpoint(medium) {
        gap: 12px;
        flex-direction: column;
      }
    }
  }
}
