@import "./variables";

.btn {
  color: $white;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 13px;
  border-radius: 3px;
  border: none;
  cursor: pointer;

  &.btn-primary {
    background: $orange;

    &:hover {
      background: $dark-orange;
    }
  }

  &.btn-secondary {
    background: $dark-aqua;

    &:hover {
      background: $aqua;
    }
  }
}
