// Colors
$white: #ffffff;
$black: #000;
$orange: #ff5f00;
$dark-orange: #fb4f00;
$yellow: #fdc92a;
$grey: #ebe7e2;
$dark-grey: #896f6f;
$dark-brown: #512b2b;
$aqua: #31a3ae;
$dark-aqua: #257886;
$cream: #fdf6ee;
$blue: #4572c0;
$purple: #c5569a;
$mint: #ecf9f3;
$input-border: #bcd8db;
$error: #c5131c;

$desktop-width: 1250px;

$xsBreakpoint: 576px;
$smBreakpoint: 768px;
$mdBreakpoint: 1024px;
$lgBreakpoint: 1290px;
$xlBreakpoint: 1440px;
