@import "../../styles/variables";
@import "../../styles/mixins";

.wrapper {
  background-color: $cream;
  color: $dark-brown;

  .container {
    margin: auto;
    padding: 12px 0 32px;
    max-width: $desktop-width;

    @include breakpoint(large) {
      max-width: 900px;
    }
    @include breakpoint(medium) {
      max-width: 600px;
    }
    @include breakpoint(small) {
      max-width: 400px;
    }

    .title {
      margin: 0;
      padding: 0 0 12px 12px;
      font-size: 32px;
      font-weight: 800;
      color: $orange;

      @include breakpoint(medium) {
        font-size: 24px;
      }
    }

    .tabsWrapper {
      display: flex;

      @include breakpoint(medium) {
        margin: 0 12px;
      }

      .tab {
        margin: 0;
        padding: 14px;
        background-color: rgba($grey, 0.5);
        cursor: pointer;

        &__selected {
          background-color: $white;
        }
      }
    }

    .card {
      margin-bottom: 10px;
      padding: 20px;
      gap: 12px;
      background-color: $white;

      @include breakpoint(medium) {
        margin: 0 12px 10px 12px;
        padding: 12px;
      }
    }
  }
}
